/*css de todo el proyecto*/
/*creación: Junio 2021*/
/*Autor: Vera Natalia*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding:0;
}

body{
      font-family: 'Roboto', Arial, sans-serif;
      background-color: #DDDDD7;
    }


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }


.loading {
           text-align: center;
         }


/********* STYLE SEARCH **********/
.content-search{
                  --bs-gutter-x: 1.5rem;
                  display: flex;
                  flex-wrap: wrap;
                  margin-top: calc(var(--bs-gutter-y) * -1);
                  margin-right: calc(var(--bs-gutter-x)/ -0.23);
                  margin-left: calc(var(--bs-gutter-x)/-0.23);
                  justify-content: center;
                  align-items: center;
                  
                }


.container-header {
                    background-color: #fff159;
                    display:flex; 
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    height: 50px;
                  }
               
.logo{
        width:45px; 
        height:31px;
        margin-top: 5px;
      }

.input-search{
                font-family: 'Roboto', Arial, sans-serif;
                font-size: 16px;
                background-color: #fff;
                box-sizing: border-box;
                border: 1px solid #ccc;
                margin: auto;
              }


.button-search{
                background-color: #fff159;
                cursor: pointer;
              }


.button-search:hover{
                      background-color:#D8D8D6;
                      color:#fff;
                    }

.img-no-search{
                width: 65%;
                height: 200px;
                margin-top: 150px;
                margin-left: 240px;
              }


/********* STYLE RESULTS **********/

.container-breadcrumb {
                        display:flex; 
                        padding: 10px 70px 10px 10px;
                        font-size: 0.90em;
                      }


.row-breadcrumb{
                  margin-left: 0;
               }

  
.container-result {
                    padding: 10px 70px 10px 20px;
                    background-color: #fff;
                  }    
  

.item-selection {
                  cursor: pointer;
                }


.item-selection:hover {
                        transform: translate(0,1px);
                        -webkit-transform: translate(0,1px);
                        -o-transform: translate(0,1px); 
                        -moz-transform: translate(0,1px);
                        box-shadow: 0 2px 16px rgb(185, 190, 192);
                        transition: all 0.1s ease;
                      }

.img-list{
            width: 100%;
            height: 100%;
            max-width: 200px;
            max-height: 200px;
          }


.title-list{
              padding: 22px 0px 0px 0px;
              font-size: 1.3em;
              color: #464545;
              font-weight: bold;
           }
     
           
.text-list{
            padding: 0px 0px 0px 0px;
            font-size: 0.9em;
            color: #464545;
            font-weight: bold;
          }
  
          
.little-title-list{
                    padding: 0px;
                    justify-content: flex-end;
                    font-size: 0.75em;
                    color: #464545;
                  }



/********* STYLE DESCRIPTION **********/

.img-description {
                   padding: 20px 0px 0px 30px;
                   width: 80%;
                   height: 80%;
                 }

.text-child{
             font-size: 18px;
             text-align: left;
             margin-top: 30px;
           }       
     
           
.button-detail {
                  display: inline-block;
                  padding: 8px 60px 20px 70px;
                  margin: 4px 2px;
                  background-color: #3483FA;
                  border: none;
                  font-size: 0.9em;
                  color: #fff;
                  text-align: center;
                  text-decoration: none;
                  cursor: pointer;
                  width: 100%;
                  height: 8%;
               }


.button-detail:hover { 
                       background-color: #5294f7
                     }            


.text-sold{
            margin-top: 25px;
            font-size: 15px; 
            color: #464545;
          }


.text-title{
              margin-top: 10px;
              font-size: 25px; 
              color: #464545;
              font-weight: bold;
           }


.text-title-description{  
                          padding: 0px 0px 0px 30px;
                          text-align: left;
                          font-size: 1.5em;
                          color: #464545; 
                          font-weight: bold;
                        
                        }     
     
.text-description{
                    padding: 0px 0px 0px 30px;
                    text-align: left;
                    font-size: 0.75em;
                    color: #464545;
                  }     


.integer-price{
                margin-top: 15px;
                font-size: 2em; 
                color: #464545; 
                font-weight: bold;
              }                       


.decimals-price{
                  margin-left: 0px;
                  vertical-align: top;
                  font-size: 0.7em; 
                  color: #464545; 
                  font-weight: bold;
               }    


