<div class="row justify-content-center content-search">  
    
     <form (ngSubmit)="onSubmit()" class="container-header"> 
            <div class="col-auto"><img src="assets/imgs/logo_small.png" class="img-fluid logo">&nbsp;</div>  
            <div class="col-lg-9">
                    <input type="text" class="form-control" [formControl]="inputSearch" placeholder="Nunca dejes de buscar">
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-secondary button-search" type="button">
                    <i class="bi bi-search"></i>
                </button> 
            </div> 
     </form>

</div>  
 




